input{
    border: 1px solid black;
    padding: 1rem 2rem;
    font-size: 1.3rem;
    margin: 0.3rem 2rem ;
}
textarea{
    border: 1px solid black;
    padding: 1rem 2rem;
    font-size: 1.3rem;
    margin: 0.3rem 2rem ;
    height: 100px;

}